.dashboard {
  flex-grow: 1;
  margin-left: 250px;
  padding: 0px 20px;
  position: relative;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  min-height: 100vh;
  background: rgb(247 247 247);
}

.side-menu-open {
  margin-left: 96px !important;
}

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 22px;
  margin: 20px 0 20px;
  border-radius: 6px;
}

.dash-header .menu-icon {
  margin: 0 30px 0 0;
}

.menu-icon span {
  display: flex;
  cursor: pointer;
  font-size: 24px;
}
